@import '../../../shared/variables.scss';

.categories-block {
  background: linear-gradient(to right, $primary-color, $primary-color-light);
}

.flex-block {
  display: flex;
}

.wrapper {
  justify-content: space-between;
  margin: 0 auto;
  width: 80vw;
  height: 40px;
}

.category {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: background-color .3s;
  &:hover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}