@import '../../../shared/variables.scss';

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 80vw;
}

.main-category {
  font-weight: bold;
  text-transform: uppercase;
}

.main-category-in-sub {
  display: flex;
  align-items: center;
  margin: 0 0 0 16px;
  padding: 0;
  height: 48px;
  font-weight: bold;
}

.active {
  color: $primary-color;
}

.selection-list {
  padding-top: 0;
}

.selection-list__sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
