<div class="wrapper">
  <h2 class="header">Популярные товары:</h2>
  <ngb-carousel #carousel class="popular-items-carousel">
    <ng-template ngbSlide *ngFor="let popularProductsSlide of popularProducts$ | async">
      <div class="cards-wrapper">
        <div class="card" *ngFor="let popularProduct of popularProductsSlide">
          <div
            class="image"
            [ngStyle]="{ 'background-image': 'url(' + popularProduct.imageUrls[0] + ')' }"
            *ngIf="popularProduct && popularProduct.imageUrls.length !== 0; else noImage"
          ></div>
          <a
            [routerLink]="[
              'catalog',
              popularProduct?.mainCategoryID,
              popularProduct?.subCategoryID,
              popularProduct?.id
            ]"
            >{{ popularProduct?.name }}</a
          >
          <div class="available">В наличии: {{ popularProduct?.availableAmount }}</div>
          <div class="price">{{ popularProduct?.price | number: '1.2-2' }}р.</div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<ng-template #noImage>
  <div
    class="image"
    [ngStyle]="{
      'background-image':
        'url(https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg)'
    }"
  ></div>
</ng-template>
